{% extends 'base.html.twig' %}

{% block title %}Homepage{% endblock %}

{% block body %}

    <h1 class="page-header text-center">
        Welcome
        {{ app.user ? app.user.email : 'to our site' }}
    </h1>

{% endblock %}
